<%- include('../partials/header') %>

<div class="flex-container">
  <h1 class="title-card"><%= title %></h1>
  <% recyclables.forEach(function(r) { %>
    <a href="/recyclables/<%= r._id %>" class="recyclable-preview"><%= r.title %> ~ <%= r.material %></a>
  <% }) %>
</div>
<section>
  <div class="about">
    For an item to be recyclable in your city (assuming your city accepts a particular material for collection and sorting), it’s necessary for three key areas to align, namely:
  </div>
  <div>
    <ul class="keys">
      - Technology must exist to recycle the material
      ~ There must be a buyer
      ~ The economics must work for the processor -
    </ul>
  </div>
</section>
<%- include('../partials/footer') %>